# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
venv/
.env/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Caches ML
.cache/
.cache/*
*.pt
*.pth
*.ckpt

# Logs & outputs
logs/
outputs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Données volumineuses
data/
